* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
  
body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container {
    background-color: #fff;
    /* width: 80%; */
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
  
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 3px
}
  
.tab-button {
    padding: 7px;
    margin: 0 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.tab-button:hover { background-color: #0056b3;}
.tab-button.active {background-color: #0056b3;}
.tab-content { display: none;}
.tab-content.active { display: block;}
  
.card-section {
    /* max-height: 300px; */
    max-height: 70vh;
    overflow-y: auto;
    padding: 1px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.card {
    background-color: #fdfdfd;
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
  
.card h3 {margin-bottom: 10px;}
.card p {margin-bottom: 20px; font-size: .8;}
  
.input-min {width: 40px;padding: 3px;}
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 45%;
}
  
.input-group label {
    font-size: 12px;
}
  
input, select, .input-group input, .input-group select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
  
.button-row, .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
  
.action-button, .action-button-sm {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.action-button-sm {padding: 5px 6px;}
  
.action-button:hover, .action-button-sm:hover {
    background-color: #0056b3;
}

.w50 {width: 50%;}
.w40 {width: 40%;}
.w35 {width: 35%;}
.w30 { width: 30%;}
.w25 { width: 25%;}
.w20 {width: 20%;}
.size30, input[type="checkbox"] {width: 20px; height: 20px;}
.prop-header {
    background-color: rgb(56, 54, 65); 
    color: white; 
    padding: 10px;
}
.prop-wrap {margin: 10px 0;}

label {
    font-size: .75rem;
    display: inline-flex;
    align-items: center;
}

.animation-box{
    background-color: rgb(180, 16, 221);
    width: 300px;
    height: 150px;
    display: block;
    color: white;
    margin: 1rem .4rem;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    padding: 10px;
}
[hidden] {
    display: none!important;
}


/*  */
.column {
    display: flex;
    flex-direction: column;
}

.animation-card {
    display: block;
    position: relative;
    max-width: 800px;
    border-radius: 10px;
    border: 1px solid rgb(71, 65, 65);
    padding: 1rem .3rem;
    box-shadow: 4px 3px 22px 9px rgb(37 44 97 / 15%), -1px 0px 9px 0 rgb(93 100 148 / 20%);
    height: auto;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    border-radius: 10px;
    margin-block-start: 7px;
    margin-block-end: 7px;
}

.animation-card-title {
    display: block;
    position: absolute;
    top: 3px;
    padding: 1px 3px;
    border: 1px solid rgb(71, 65, 65);
    box-shadow: 4px 3px 22px 9px rgb(37 44 97 / 15%), -1px 0px 9px 0 rgb(93 100 148 / 20%);
}

.box{
    background-color: black;
    max-width: 300px;
    min-width: 150px;
    height: 150px;
    display: block;
    color: white;
    /* margin: 1rem .4rem; */
}
@media (max-width: 768px) {
    .section {padding-left: .5rem; padding-right: .5rem;}
}

.bg-red {
    color: white;
    background-color: rgba(241, 39, 39, 0.911);
}
.action-button.bg-red:hover, .action-button-sm.bg-red:hover {
    background-color: rgba(241, 39, 39, 0.511);
}


/* Console Body Area starts here */
.console-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; /* Hidden by default */
    border-radius: 10px;
}
.console-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #007bff;
    color: white;
}
.close-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
textarea {
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px;
    border: none;
    resize: none;
}
.console-body.active {
    display: block; /* Show when active */
}
.console-body textarea {
    font-family: monospace;
    font-size: 14px;
    color: #f0eaea;
    background-color: #0a0a0a;
}
.console-body textarea::placeholder {color: #aaa;}
.console-body textarea:focus {outline: none; border: 1px solid #007bff;}
.console-body .close-button:hover {color: #ffcccc;}
.console-body .close-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
}


@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/PPNeueMontreal-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/PPNeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/PPNeueMontreal-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/PPNeueMontreal-BookItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
* {font-family: 'Neue Montreal';}
